
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /angApp/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)       http://localhost/angApp/index.html
</IfModule>