<div class="center">

    <h1 class="h1-style">{{ pealkiri }}</h1>

    <div class="jumbotron">

        <h2 class="h2-style">{{ ylesanded }} <span>{{getTotalTodos()}}</span></h2>

          <form>
            <div class="row">
              <div class="col-md-4"></div> 
                <div class="col-md-6">
                    <ul style="list-style-type: none;">
                        <li ng-repeat="todo in todos" style="display: inline; vertical-align: middle;">
                          <input type="checkbox" ng-model="todo.done"/>
                          <span class="done-{{todo.done}}">{{todo.text}}</span><br>
                        </li>
                      </ul>
                    <input style="width: 200px;" class="form-control" placeholder="I need to..." type="text" ng-model="formTodoText" ng-model-instant />  
                    <button  class="btn btn-primary" ng-click="addTodo()">Add</button>
                    <button  class="btn btn-warning" ng-click="clearCompleted()">Clear completed</button>
                </div>
            </div>   
          </form>
              
              
</div>
</div>

        

                

